  
        
        
        <div class="row">
            <div class="col-12">
                <div class="info-card">
                    <div class="info-card-header">
                        <i class="bi bi-cash-coin"></i>
                        <span>Charges</span>
                    </div>
                    <div class="info-card-body p-0">
                          <app-job-charges [charges]="charges" [jobGuid]="jobGuid" [userRole]="userRole" [viewSummary]="false"></app-job-charges>
                    </div>
                </div>
            </div>
        </div>

