/* You can add global styles to this file, and also import other style files */

// Import styles with default layout.
@use "@coreui/coreui/scss/coreui" as * with (
  $enable-deprecation-messages: false
);

// Import Chart.js custom tooltips styles
@use "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@use "theme";

@import 'base';
@import 'report';

@import "bootstrap/dist/css/bootstrap.min.css";
@import "@coreui/coreui/dist/css/coreui.min.css";

// styles.scss
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&family=DM+Mono:wght@400;500&family=DM+Sans:wght@300;400;500;600&family=Inter:wght@400;500;600&display=swap');